$BackgroundColor: #eae1d0;
$AccentColor: #ff5156;
$DarkColor: #282828;

$TitleHeight: 70px;
$HeaderPadding: 3vh;
$HeaderHeight: calc($TitleHeight + $HeaderPadding * 2);

header {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  padding: $HeaderPadding 4vw;
  width: calc(100% - 8vw);
  transition: 0.4s;
  .title {
    display: flex;
    height: $TitleHeight;
    color: $AccentColor;
    font-family: Poppins;
    white-space: nowrap;
    transform-origin: left;
    transition: 0.4s;
    img {
      margin: 0px 14px;
    }
    &-text {
      transition: 0.4s;
      .tt {
        margin: 0;
        line-height: 0.8em;
      }
      .header {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      h1.tt {
        font-size: 40px;
      }
      h2.tt {
        font-weight: normal;
        font-size: 39px;
      }
      p.tt {
        font-weight: 300;
        margin-top: 10px;
        opacity: 1;
        transition: opacity 0.4s;
      }
    }
  }
  &.scrolled {
    background-color: $DarkColor;
    padding: 1vh 0vw;
    width: 100%;
    .title {
      transform: scale(0.7);
      p.tt {
        opacity: 0;
      }
    }
  }
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $BackgroundColor;
  overflow: hidden;
  font-family: Poppins;
  padding-top: $HeaderHeight;

  .dates {
    color: $AccentColor;
    font-size: 1.5em;
    text-align: right;
    white-space: nowrap;
    width: 50%;
    line-height: 1;
  }

  .milk-artists {
    max-width: 50%;
    img {
      // milk image
      width: 800px;
      object-fit: contain;
    }
    .artists {
      font-size: 0.9em;
      color: $DarkColor;
      position: absolute;
      margin-left: -30px;
      margin-top: 200px;
      h1 {
        margin: 0;
        padding: 0px 10px 0px 10px;
        text-align: right;
        position: relative;
        z-index: 2;
      }
      .artist {
        position: relative;
        transition: scale 0.4s cubic-bezier(0.8, 0, 0.2, 1);
        transform-origin: right;
        cursor: pointer;
        user-select: none;
        &::before {
          z-index: 1;
          content: "";
          background-color: $AccentColor;
          position: absolute;
          top: 0;
          height: 100%;
          width: 0%;
          transition: width 0.7s cubic-bezier(1, 0, 0.2, 1) 0.1s;
        }
        &:hover {
          scale: 1.3;
        }
        &:hover::before {
          width: 100%;
        }
      }
    }
  }
}

.loading-animation {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: $DarkColor;
}

.melt-mask-animation {
  clip-path: url(#melt-mask);
}

.down-leave-active {
  animation: 2s down-leave cubic-bezier(0, 0, 0.42, 0.99) forwards;
}

@media screen and (max-width: 655px) {
  .artists {
    font-size: 0.8em !important;
    right: 0;
    white-space: nowrap;
  }
  .dates {
    font-size: 1.2em !important;
    width: 85% !important;
  }
}

@keyframes down-leave {
  0% {
    clip-path: inset(0);
  }
  100% {
    clip-path: inset(100% 0 0 0);
  }
}
