$BackgroundColor: #eae1d0;
$AccentColor: #ff5156;
$DarkColor: #282828;

$TitleHeight: 70px;
$HeaderPadding: 3vh;
$DateMargin: calc($TitleHeight + $HeaderPadding * 2);
$DateHeight: 96px;
$HeaderHeight: calc($HeaderPadding + $DateMargin + $DateHeight);

:host {
  font-family: Poppins;
}

header {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: $HeaderPadding 4vw;
  width: calc(100% - 8vw);
  transition: width 0.4s, padding 0.4s, background-color 0.1s;
  .title {
    display: flex;
    height: $TitleHeight;
    color: $AccentColor;
    white-space: nowrap;
    transform-origin: left;
    transition: 0.4s;
    img {
      width: 80px;
    }
    &-text {
      transition: 0.4s;
      .tt {
        margin: 0;
        line-height: 0.8em;
      }
      .header {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      h1.tt {
        font-size: 40px;
      }
      h2.tt {
        font-weight: normal;
        font-size: 39px;
      }
      p.tt {
        font-weight: 300;
        margin-top: 10px;
        opacity: 1;
        transition: opacity 0.4s;
      }
    }
  }

  .dates {
    color: $AccentColor;
    font-size: 1.5em;
    text-align: right;
    white-space: nowrap;
    line-height: 1;
    transform-origin: top right;
    transition: 0.4s;
    margin-top: $DateMargin;
    margin-right: 20%;
    height: $DateHeight;
    h1 {
      font-weight: 600;
      margin: 0;
    }
  }

  &.scrolled {
    background-color: $DarkColor;
    padding: 1vh 0vw;
    width: 100%;
    transition: width 0.4s, padding 0.4s, background-color 0.5s 0.2s;
    .title {
      transform: scale(0.7);
      p.tt {
        opacity: 0;
      }
    }
    .dates {
      transform: scale(0.5);
      height: calc($DateHeight * 0.5);
      margin: 10px 20px 0px 0px;
      h1 {
        font-weight: 400;
      }
    }
  }
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $BackgroundColor;
  overflow: hidden;
  padding-top: $HeaderHeight;

  .milk-artists {
    max-width: 50%;
    img {
      // milk image
      width: 800px;
      object-fit: contain;
    }
    .artists {
      font-size: 1.14em;
      color: $DarkColor;
      position: absolute;
      margin-top: 200px;
      h1 {
        margin: 0;
        padding: 0px 10px 0px 10px;
        text-align: right;
        font-weight: 600;
        position: relative;
        z-index: 2;
      }
      .artist {
        position: relative;
        right: 41px;
        transition: scale 0.4s cubic-bezier(0.8, 0, 0.2, 1);
        transform-origin: right;
        cursor: pointer;
        user-select: none;
        padding: 3px 0px;
        opacity: 0;
        &::before {
          z-index: 1;
          content: "";
          background-color: $AccentColor;
          position: absolute;
          top: 0;
          height: 100%;
          width: 0%;
          transition: width 0.7s cubic-bezier(1, 0, 0.2, 1) 0.1s;
        }
        &:hover {
          scale: 1.3;
        }
        &:hover::before {
          width: 100%;
        }
      }
    }
  }

  .tickets {
    margin: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    a {
      text-decoration: none;
      color: $DarkColor;
    }
    .button {
      width: 400px;
      cursor: pointer;
      position: relative;
      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 40px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -8px;
        user-select: none;
      }
      img {
        transition: 0.3s cubic-bezier(1, 0, 0.2, 1);
      }
      transition: 0.3s cubic-bezier(1, 0, 0.2, 1);
      &:hover {
        scale: 1.2;
        img {
          filter: drop-shadow(15px 30px 10px rgb(0 0 0 / 0.4));
        }
      }
    }
  }
  .footer {
    font-size: 20px;
    font-weight: 600;
    color: $AccentColor;
    background-color: $DarkColor;
    padding: 10px 0 30px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      color: inherit;
    }
    p {
      margin: 10px;
    }
  }
}

.loading-animation {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: $DarkColor;
}

.melt-mask-animation {
  clip-path: url(#melt-mask);
}

.down-leave-active {
  animation: 2s down-leave cubic-bezier(0.8, 0, 0.2, 1) forwards;
}

@for $i from 0 through 20 {
  .pop-in-#{$i} {
    animation: pop-in 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation-delay: #{$i * 0.1 + 1.5}s;
  }
}

svg {
  display: block;
}

@media screen and (max-width: 655px) {
  .artists {
    font-size: 1.05em !important;
    right: 0;
    white-space: nowrap;
    .artist {
      padding: 3px 0px;
      right: 0px !important;
    }
  }
  header {
    .title {
      width: 10px; /* force title to be really small */
    }
    .dates {
      font-size: 1.2em !important;
      margin-right: 10px !important;
    }
    &.scrolled {
      .dates {
        margin: 15px 10px 0px 0px !important;
      }
    }
  }
  .tickets .button {
    width: 250px !important;

    span {
      margin-top: -8px !important;
      font-size: 28px !important;
    }
  }
}

@keyframes down-leave {
  0% {
    clip-path: polygon(0 100%, 100% 100%, 100% -30%, 0 0);
  }
  100% {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 130%);
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
