<header class="title">
  <img src="assets/moon-logo.svg" alt="" />
  <div class="title-text">
    <div class="header">
      <h1 class="tt">MILK MOON</h1>
      <h2 class="tt">EXHIBITION</h2>
    </div>
    <p class="tt">Fine art exhibition</p>
  </div>
</header>

<div class="page">
  <div class="milk-artists">
    <div class="artists">
      <div
        class="artist"
        *ngFor="let artist of artists"
        (click)="goTo(artist.link)"
      >
        <h1>{{ artist.name }}</h1>
      </div>
    </div>

    <img src="assets/milk-pack.svg" />
  </div>
</div>

<canvas
  riv="milk_loading"
  class="loading-animation"
  width="1000"
  height="1000"
  alignment="center"
  [class.down-leave-active]="hideCanvas"
  *ngIf="!destroyCanvas"
>
  <riv-state-machine
    name="StateMachine"
    (stateChange)="animationStateChanged($event)"
    play
  >
    <riv-input name="doneLoading" [value]="!loading"></riv-input>
  </riv-state-machine>
</canvas>
