<div class="page">
  <div class="milk-artists">
    <div class="artists">
      <div
        class="artist"
        *ngFor="let artist of artists"
        (click)="goTo(artist.link)"
      >
        <h1>{{ artist.name }}</h1>
      </div>
    </div>

    <img src="assets/milk-pack.png" />
  </div>
</div>

<canvas
  riv="milk_loading"
  class="loading-animation"
  width="1000"
  height="1000"
  alignment="center"
>
  <riv-state-machine name="SM_fill_spin" play> </riv-state-machine>
</canvas>

<img class="title" src="assets/title.png" />
