$BackgroundColor: #eae1d0;
$AccentColor: #eb4752;

$TopMargin: 25vh;

.page {
  display: flex;
  justify-content: center;
  background-color: $BackgroundColor;
  overflow: hidden;

  .milk-artists {
    max-width: 50%;
    margin-top: $TopMargin;

    img {
      // milk image
      width: 800px;
      object-fit: contain;
    }

    .artists {
      font-family: Hind;
      font-size: 1.1em;
      // color: $AccentColor;
      position: absolute;
      top: calc($TopMargin + 220px);
      margin-left: 30px;
      h1 {
        margin: 0;
        padding: 0px 10px 0px 10px;
        text-align: right;
        position: relative;
        z-index: 2;
      }

      .artist {
        position: relative;
        transition: scale 0.4s cubic-bezier(0.8, 0, 0.2, 1);
        cursor: pointer;
        &::before {
          z-index: 1;
          content: "";
          background-color: $AccentColor;
          position: absolute;
          top: 0;
          height: 100%;
          width: 0%;
          transition: width 0.7s cubic-bezier(1, 0, 0.2, 1) 0.1s;
        }

        &:hover {
          scale: 1.3;
        }
        &:hover::before {
          width: 100%;
        }
      }
    }
  }
}

.title {
  z-index: 4;
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
}

@media screen and (max-width: 655px) {
  .title {
    left: 0;
    width: 100vw;
  }
}
