body, html {
  height: 100%;
  margin: 0;
}

@font-face {
  font-family: Hind;
  src: url("assets/fonts/hind-light.otf");
  font-weight: 300;
}
@font-face {
  font-family: Hind;
  src: url("assets/fonts/hind-regular.otf");
  font-weight: normal;
}
@font-face {
  font-family: Hind;
  src: url("assets/fonts/hind-medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: Hind;
  src: url("assets/fonts/hind-semibold.otf");
  font-weight: 600;
}
@font-face {
  font-family: Hind;
  src: url("assets/fonts/hind-bold.otf");
  font-weight: bold;
}
